body{
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}
h1{
    width: 100%;
    margin:0 auto 0 auto ;
    font-size:590% ;
    margin: 50px auto 0 auto;
    color:#66BFBF;
   
}

.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    height: 800px;
}
a{
    color:#11999E;
}
h1{
    margin:0px,0px,0px,0px;
    font-family: 'Sacramento', cursive;
    width: auto;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    

}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
.pro{
    text-decoration: underline;
}
.cl1{
    position:absolute;
    right:300px;
    top:50px;
}
.cl2{
    position:absolute;
    left:300px;
    bottom:400px;
    
}
.middle-container{
     margin: 50px 0;

}
.bottom-container{
    background-color:#66BFBF ;
    padding:30px 0 40px;
 
}
a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin:20px 30px;
    text-decoration: none;


}
a:hover{
    color:#EAF6F6;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-me{
    width: 40%;
    margin:40px auto 60px ;
}
.img{
    margin-top: 30px;
    border-radius: 50%;
    width: 15%;
}
.com-img{
    
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;

}
p{
    line-height:2 ;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
  
    
    text-align: left;
    
    
  }
  .chil-img{
    width:25%;
    float: right;
    margin-left: 20px;

  }
.para1{
    width:110%;
}
.para2{
    width:110%;
}
hr{
    border-top: dotted #EAF6F6 6px;
    width:4%;
    border-bottom: none;
    margin:80px auto 80px auto;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.copyright{
    margin-bottom: 0;
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}